@import "reset.css";

@font-face {
    font-family: "Gilam";
    src: url("Gilam.ttf")}

@font-face {
    font-family: "Circe";
    src: url(Circe.otf)
}

body {
    background-color: #171717;
    background-attachment: fixed;
}
.header__container {
    display: flex;
    padding-top: 46px;
    padding-bottom: 128px;
    width: 1460px;
    margin: 0 auto;
    align-items: center;
    height: 50px;
    justify-content: space-between;
}

.logo {
    width: 216px;
    height: 33px;
}


.callback {
    border: 1px solid #E4B564;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px 25px;
    font-family: 'Circe';
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}

a {
    text-decoration: none;
    color: #E4B564;
}

.link {
    font-family: 'Circe';
    font-size: 18px;
    line-height: 30px;
    padding-left: 8px;
}

.link a {
    text-decoration: none;
    color: #E4B564;
}

.main__content {
    margin: 0 auto;
}

.main__text {
    width: 1460px;
    display: flex;
    align-items: start;
    height: 128px;
    justify-content: end;
    color: white;
    flex-direction: column;
    margin: 0 auto;
}

.first__heading {
    width: 1460px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.intro__text {
    width: 1460px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-top: 41px;
}

.service__provide {
    display: grid;
    width: 1460px;
    margin: 0 auto;
    padding-top: 41px;
    gap: 27px;
    grid-template-columns: repeat(6, 220px);   
    grid-template-rows: 468px 468px;
}

.service__provide__item1 {
    background-color: #634F2C;
    grid-column: 1 / 3;
    justify-content: center;
    padding-top: 220px;
    padding-bottom: 220px;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.service__provide__item2 {
    background-color: #B4A385;
    grid-column: 3 / 5;
    justify-content: center;
    padding: 220px 44px;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.service__provide__item3 {
    background-color: #E4B564;
    grid-column: 5 / 7;
    justify-content: center;
    padding-top: 220px;
    padding-bottom: 220px;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.service__provide__item4 {
    background-color: #635a4a;
    grid-column: 1 / 4;
    justify-content: center;
    padding-top: 220px;
    padding-bottom: 220px;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.service__provide__item5 {
    background-color: #B08C4D;
    grid-column: 4 / 7;
    justify-content: center;
    padding-top: 220px;
    padding-bottom: 220px;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.technical__park__text {
    display: flex;
    width: 1460px;
    justify-content: start;
    padding-top: 161px;
    padding-bottom: 192px;
    margin: 0 auto;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.technical__park {
    display: grid;
    width: 1460px;
    margin: 0 auto;
    justify-content: center;
    align-content:center;
    padding-bottom: 192px;
    gap: 30px;
    grid-template-columns: repeat(3, 467px);   
    grid-template-rows: repeat(12, 45px);
}

.technical__park__item1 {
    background-color: #0e0e0e;
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    padding: 44px 113px 219px 52px;
    font-family: 'Gilam';
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.technical__park__item2 {
    background-color: #1F1F1F;
    grid-column: 1 / 2;
    grid-row: 6 / 14;
    padding: 56px 113px 479px 52px;
    font-family: 'Gilam';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.technical__park__item3 {
    background-color: #242424;
    grid-column: 2 / 3;
    grid-row: 1 / 8;
    padding: 44px 114px 345px 51px;
    font-family: 'Gilam';
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.technical__park__item4 {
    background-color: #E4B564;
    grid-column: 2 / 3;
    grid-row: 8 / 13;
    padding: 47px 214px 333px 52px;
    font-family: 'Gilam';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}
.technical__park__item5 {
    background-color: #1F1F1F;
    grid-column: 3 / 4;
    grid-row: 1 / 5;
    padding: 44px 214px 186px 48px;
    font-family: 'Gilam';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.technical__park__item6 {
    background-color: #0e0e0e;
    grid-column: 3 / 4;
    grid-row: 5 / 10;
    padding: 44px 114px 244px 48px;
    font-family: 'Gilam';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.technical__park__item7 {
    background-color: #0A0909;
    grid-column: 3 / 4;
    grid-row: 10 / 14;
    padding: 44px 214px 208px 48px;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.black_container {
    padding-top: 172px;
    width: 100%;
    height: max-content;
    background-color: #0E0E0E;
}

.clients_projects_heading {
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.clients_projects_text {
    display: flex;
    width: 1460px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 72px;
}

.all_projects {
    padding: 10px 40px;
    border: 1px solid #E4B564;
    font-family: 'Circe';
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}

a {
    text-decoration: none;
}

.clients_projects_container {
    display: grid;
    width: 1460px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 487px);   
    grid-template-rows: 391px 391px;
}

.clients_projects_item1 {
    background-color: #634F2C;
    grid-column: 1 / 2;
    padding: 171px 151px;
}
 
.clients_projects_item2 {
    background: rgba(232, 210, 171, 0.76);    
    grid-column: 2 / 3;
    padding: 61px 80px 25px 80px;
}
.clients_projects_item3 {
    background-color: #E4B564;
    grid-column: 3 / 4;
    padding: 174px 148px;
}
.clients_projects_item4 {
    background-color: #635a4a;
    grid-column: 1 / 2;
    padding: 174px 148px;
}
.clients_projects_item5 {
    background-color: #B08C4D;
    grid-column: 2 / 3;
    padding: 169px 183px;
}
.clients_projects_item6 {
    background-color: #634F2C;
    grid-column: 3 / 4;
    padding: 171px 151px;
}
.end {
    padding-top: 230px;
}
